body {
  background-color: rgba(247, 238, 121, 0.171);
}
div {
  width: 400px;
}

h1 {
  font-family: "Euphoria Script", cursive;
  font-size: 60px;
  color: #f0d55d;
  margin: 50px;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
  border-bottom: 1px solid #f8da55;
}

li:last-child {
  border: none;
}

li a {
  text-decoration: none;
  color: #e2bf22;
  display: block;
  width: 400px;

  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
}

li a:hover {
  font-size: 25px;
  background: #fcda1d1f;
  color: #f3ca15;
}

.euphoria-script-regular {
  font-family: "Euphoria Script", cursive;
  font-weight: 400;
  font-style: normal;
}

/* End of the styles for the main page */
/* Flexbox for main page */

.container {
  width: max-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 5px solid rgba(252, 241, 194, 0.048);
  padding: 0 10px;
  margin: 0 auto;
};

.image-container {
flex-direction: flex-end;
}


