body {
  background-color: rgba(241, 203, 35, 0.171);
}

div {
  width: 400px;
}

h1 {
  font-family: "Euphoria Script", cursive;
  font-size: 60px;
  color: #c5a61a;
  margin: 40px;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
  border-bottom: 1px solid #f8da55;
}

li:last-child {
  border: none;
}

li a {
  text-decoration: none;
  color: #c5a61a;
  display: block;
  width: 500px;

  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
}

li a:hover {
  font-size: 30px;
  background: rgba(230, 200, 67, 0.356);
}

.euphoria-script-regular {
  font-family: "Euphoria Script", cursive;
  font-weight: 400;
  font-style: normal;
}
